@model IEnumerable<Project.Models.OwnerData>

@{
    ViewData["Title"] = "IndexUserAsync";
}

<h1>Our PGs</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/Images/@item.ImageFilePath" height="400px" width="300px" class="card-img-top" alt="User Image">
                <div class="card-body">
                    <div class="property">
                        <span>Name:</span> <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                    <div class="property">
                        <span>City:</span> <p class="card-text">@Html.DisplayFor(modelItem => item.City)</p>
                    </div>
                    <div class="property">
                        <span>Phone:</span> <p class="card-text">@Html.DisplayFor(modelItem => item.PhoneNo)</p>
                    </div>
                    <div class="property">
                        <span>PinCode:</span> <p class="card-text">@Html.DisplayFor(modelItem => item.PinCode)</p>
                    </div>

                   @*  <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger">Delete</a> *@
                </div>
            </div>
        </div>
    }
</div>

<style>
    .property {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

        .property span {
            font-weight: bold;
            margin-right: 10px;
        }
</style>
